<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cduestc.DriverHelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DriverHelper"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label=""
            android:launchMode="singleTop"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CoachInfoActivity"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".activity.ForgotActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.ReservationActivity"
            android:theme="@style/showActionBar" />
        <activity
            android:name=".activity.ModifyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.SetSecretActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
    </application>

</manifest>